body{
    border-top: 20px solid #009688;
    background-color: #eee;  
    box-sizing: border-box; 
}
.chat{
    background: url(../images/chat-panel-bg.png) ;
    background-size: repeat;
    height: 120vh;
    z-index: 2;
}
.chatBox{
    height: 100px;
    width: 80%;
}
 
.row {
    margin:0 ;
    padding:0 ;
}

ul li{
    display: inline-block;
}
.customeNav img {
    margin-top: .5em;
    margin-left: .5em;
}
.newMessage{
    border-radius: 5%;
    margin: 1em;
    margin-top: 100px;
    padding: .5em;
}
